<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 自动扫描所有注解类 -->
    <tx:annotation-driven/>
    <context:component-scan base-package="com.sdyc" />



    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>
    <util:properties id="settings" location="classpath:config.properties"></util:properties>


    <bean lazy-init="true" id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          scope="singleton">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="maxPoolSize" value="30"></property>
        <property name="initialPoolSize" value="2"></property>
        <property name="maxIdleTime" value="14400"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <constructor-arg index="0" ref="dataSource" />
    </bean>


    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
        <qualifier value="transactionManager"></qualifier>
    </bean>
    <!--注解方式实现事务-->
    <tx:annotation-driven transaction-manager="transactionManager"/>




    <!--&lt;!&ndash; 引入配置文件 &ndash;&gt;-->
    <bean id="handlerInvoking"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="systemQuartzHandle">
        </property>
        <property name="targetMethod" value="doProcess">
        </property>
        <property name="concurrent" value="false" />
    </bean>
    <!-- jobTrigger -->
    <bean id="jobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="handlerInvoking" />
        </property>
        <property name="cronExpression">
            <value>${quartz.jobTrigger}</value>
        </property>
    </bean>
    <!--Scheduler  -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="jobTrigger" />
            </list>
        </property>
    </bean>


</beans>